fastapi
uvicorn
langchain
langchain-openai
langchain-community
faiss-cpu
pypdf
python-dotenv
openai
tiktoken
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-jazzmin
psycopg2-binary
resend
python-socketio
python-engineio
aiohttp
aio-pika
